# Dependencies
node_modules/
yarn.lock
*.tsbuildinfo

# Build
build/
dist/

# Node-gyp
build/

# Keep lib directory but ignore compiled binaries in bindings
lib/binding/*
lib/**/*.node

# deps lib
deps/lib/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db